<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
<meta charset="utf8"/>
<meta http-equiv="pragma" content="no-cache"/>
<title><%= __('hello.title') %></title>
</head>
<body>
<h1>Hello, <%= name %></h1>

<p>
<%= __('hello.body') %>
</p>

<p style="color: red;">
<a href="/"><%= __('hello.link_to_index') %></a>
</p>

</body>
</html>