<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
<meta charset="utf8"/>
<meta http-equiv="pragma" content="no-cache"/>
<title><%= __('index.title') %></title>
</head>
<body>
<h1><%= __('index.title') %></h1>

<p>
<%= __('index.body') %>
</p>

<p style="color: blue;">
<a href="/hello"><%= __('index.link_to_hello') %></a>
</p>

</body>
</html>