<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3c.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
<meta charset="utf8"/>
<meta http-equiv="pragma" content="no-cache"/>
<title><%= __('object.title') %></title>
</head>
<body>
<h1>Object</h1>

<p>
  <table border="1">
<% if( query && typeof query == 'object' ){ 
     Object.keys( query ).forEach( function( key ){ %>
    <tr>
      <td><%= key %></td>
      <td><%= query[key] %></td>
    </tr>
<%   });
  } %>
  </table>
</p>

<p style="color: red;">
<a href="/"><%= __('object.link_to_index') %></a>
</p>

</body>
</html>